
.App {
  text-align: center;
  background-color: white;
}

.layout {
  background-color: white;
}

.ant-list-item:hover {
  background-color:#e0dada;
  box-shadow: 0 0 4px #eee;
  cursor: pointer;
}

.ant-list-item:active {
  background-color:#d3d0d0;
  box-shadow: 0 0 4px #eee;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  border: black solid 1px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  width: calc(100% * (1/4) - 60px - 1px);
}

.card:active { 
  transform: scale(0.98); 
  /* Scaling button to 0.98 to its original size */ 
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
  /* Lowering the shadow */ 
} 

.card-details {
  border-bottom: gray solid 1px;
  margin-bottom: 20px;
}

.card img{
  width: 100%;
  height: 150px;
}

.large-font {
  font-size : 44px;
  font-weight: bold;
}

@import '~antd/dist/antd.css';